
:root {
  --dark-1: #2d3142;
  --dark-2: #374052;
  --dark-3: #003566;
  --light-1: #a0c9ff;
  --light-2: #d8e6f7;
  --highlight-1: #f1af32;
  --highlight-2: #d4bb8d;
  --grey-1: #f5f5f5;
  --grey-2: #e0e0e0;
  --grey-3: #c4c4c4;
  --grey-4: #a8a8a8;
  --black-1: #181818;
  --black-2: #383838;
}

body {
  background-color: var(--dark-1);
}

.App {
  color: var(--grey-3);
  max-width: 800px;
}

.primary-dark-1 { color: var(--dark-1); }
.primary-dark-2 { color: var(--dark-2); }
.primary-dark-3 { color: var(--dark-3); }
.primary-light-1 { color: var(--light-1); }
.primary-light-2 { color: var(--light-2); }
.primary-highlight-1 { color: var(--highlight-1); }
.primary-highlight-2 { color: var(--highlight-2); }

.grey-1 { color: var(--grey-1); }
.grey-2 { color: var(--grey-2); }
.grey-3 { color: var(--grey-3); }
.grey-4 { color: var(--grey-4); }
.black-1 { color: var(--black-1); }
.black-2 { color: var(--black-2); }

.bg-active:hover { background-color: var(--black-1) !important; }
.bg-active:active { background-color: var(--black-1) !important; }

.bg-grey-1 { background-color: var(--grey-1); }
.bg-grey-2 { background-color: var(--grey-2); }
.bg-grey-3 { background-color: var(--grey-3); }
.bg-grey-4 { background-color: var(--grey-4); }
.bg-black-1 { background-color: var(--black-1); }
.bg-black-2 { background-color: var(--black-2); }

.bg-primary-dark-1 { background-color: var(--dark-1); }
.bg-primary-dark-2 { background-color: var(--dark-2); }
.bg-primary-dark-3 { background-color: var(--dark-3); }
.bg-primary-light-1 { background-color: var(--light-1); }
.bg-primary-light-2 { background-color: var(--light-2); }
.bg-primary-highlight-1 { background-color: var(--highlight-1); }
.bg-primary-highlight-2 { background-color: var(--highlight-2); }

.size-n1{ font-size: 0.9em; }
.size-n2{ font-size: 0.8em; }
.size-n3{ font-size: 0.7em; }
.size-n4{ font-size: 0.6em; }
.size-1{ font-size: 1.2em; }
.size-2{ font-size: 1.5em; }
.size-3{ font-size: 1.8em; }
.size-4{ font-size: 2.0em; }
.size-5{ font-size: 3.0em; }
.size-6{ font-size: 4.0em; }
.size-7{ font-size: 5.0em; }
.size-8{ font-size: 7.0em; }
.size-9{ font-size: 10.0em; }
.size-10{ font-size: 15.0em; }

.weight-1{ font-weight: 100; }
.weight-2{ font-weight: 300; }
.weight-3{ font-weight: 600; }
.weight-4{ font-weight: 900; }

.line-height-1{ line-height: 1em; }
.line-height-2{ line-height: 1.1em; }

.vert-center { display: flex; align-items: center; justify-content: center; }
.preline { white-space: pre-line; }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.typing-wrapper{
  display: flex;
  font-family: 'Poppins', sans-serif;
}
.typing-wrapper .typing-static-txt{
  color: var(--grey-1);
  font-size: 60px;
  font-weight: 400;
}
.typing-wrapper .typing-dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.typing-dynamic-txts li{
  list-style: none;
  color: var(--highlight-2);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.typing-dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.typing-dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-1);
  border-left: 2px solid var(--highlight-2);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.preloader {
  display: flex;
}

.preloader {
  animation: tiltSpin 8s linear infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 17em;
  height: 17em;
}
.preloader, .preloader__ring {
  transform-style: preserve-3d;
}
.preloader__ring {
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  font-size: 2em;
  position: relative;
  height: 3rem;
  width: 1.5rem;
}
.preloader__ring:nth-child(even) {
  animation-direction: reverse;
}
.preloader__sector {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(7rem);
}
.preloader__sector, .preloader__sector:empty:before {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.preloader__sector:empty:before {
  background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
  content: "";
}
.preloader__sector:nth-child(2) {
  transform: rotateY(12deg) translateZ(7rem);
}
.preloader__sector:nth-child(3) {
  transform: rotateY(24deg) translateZ(7rem);
}
.preloader__sector:nth-child(4) {
  transform: rotateY(36deg) translateZ(7rem);
}
.preloader__sector:nth-child(5) {
  transform: rotateY(48deg) translateZ(7rem);
}
.preloader__sector:nth-child(6) {
  transform: rotateY(60deg) translateZ(7rem);
}
.preloader__sector:nth-child(7) {
  transform: rotateY(72deg) translateZ(7rem);
}
.preloader__sector:nth-child(8) {
  transform: rotateY(84deg) translateZ(7rem);
}
.preloader__sector:nth-child(9) {
  transform: rotateY(96deg) translateZ(7rem);
}
.preloader__sector:nth-child(10) {
  transform: rotateY(108deg) translateZ(7rem);
}
.preloader__sector:nth-child(11) {
  transform: rotateY(120deg) translateZ(7rem);
}
.preloader__sector:nth-child(12) {
  transform: rotateY(132deg) translateZ(7rem);
}
.preloader__sector:nth-child(13) {
  transform: rotateY(144deg) translateZ(7rem);
}
.preloader__sector:nth-child(14) {
  transform: rotateY(156deg) translateZ(7rem);
}
.preloader__sector:nth-child(15) {
  transform: rotateY(168deg) translateZ(7rem);
}
.preloader__sector:nth-child(16) {
  transform: rotateY(180deg) translateZ(7rem);
}
.preloader__sector:nth-child(17) {
  transform: rotateY(192deg) translateZ(7rem);
}
.preloader__sector:nth-child(18) {
  transform: rotateY(204deg) translateZ(7rem);
}
.preloader__sector:nth-child(19) {
  transform: rotateY(216deg) translateZ(7rem);
}
.preloader__sector:nth-child(20) {
  transform: rotateY(228deg) translateZ(7rem);
}
.preloader__sector:nth-child(21) {
  transform: rotateY(240deg) translateZ(7rem);
}
.preloader__sector:nth-child(22) {
  transform: rotateY(252deg) translateZ(7rem);
}
.preloader__sector:nth-child(23) {
  transform: rotateY(264deg) translateZ(7rem);
}
.preloader__sector:nth-child(24) {
  transform: rotateY(276deg) translateZ(7rem);
}
.preloader__sector:nth-child(25) {
  transform: rotateY(288deg) translateZ(7rem);
}
.preloader__sector:nth-child(26) {
  transform: rotateY(300deg) translateZ(7rem);
}
.preloader__sector:nth-child(27) {
  transform: rotateY(312deg) translateZ(7rem);
}
.preloader__sector:nth-child(28) {
  transform: rotateY(324deg) translateZ(7rem);
}
.preloader__sector:nth-child(29) {
  transform: rotateY(336deg) translateZ(7rem);
}
.preloader__sector:nth-child(30) {
  transform: rotateY(348deg) translateZ(7rem);
}

/* Animations */
@keyframes tiltSpin {
  from {
    transform: rotateY(0) rotateX(30deg);
  }
  to {
    transform: rotateY(1turn) rotateX(30deg);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}